Reading file: {{ base_dir }}/tests/resources/integration_1.yml
Reading file: {{ base_dir }}/tests/resources/integration_2.yml
Executing: echo '{"Dynamic Menu": [{"Menu 4": "exit 4"}]}'
{{ header }}
==============================================================================
  Main Menu
------------------------------------------------------------------------------
  [1] | Menu 1
  [2] | Menu 2
  [3] | Go to Include Menu
  [4] | Go to Dynamic Menu
------+-----------------------------------------------------------------------
  [0] | Quit
==============================================================================
Press menu number (0-4): {{ header }}
==============================================================================
  Confirmation
------------------------------------------------------------------------------
  Would execute: Menu 1
==============================================================================
Do you really want to execute? (y/n) [n]: {{ header }}
==============================================================================
  Executing: Menu 1
------------------------------------------------------------------------------
------------------------------------------------------------------------------
Return code: 1
==============================================================================
Press any key to continue...{{ header }}
==============================================================================
  Main Menu
------------------------------------------------------------------------------
  [1] | Menu 1
  [2] | Menu 2
  [3] | Go to Include Menu
  [4] | Go to Dynamic Menu
------+-----------------------------------------------------------------------
  [0] | Quit
==============================================================================
Press menu number (0-4): {{ header }}
==============================================================================
  Confirmation
------------------------------------------------------------------------------
  Would execute: Menu 2
==============================================================================
Do you really want to execute? (y/n) [n]: {{ header }}
==============================================================================
  Executing: Menu 2
------------------------------------------------------------------------------
------------------------------------------------------------------------------
Return code: 2
==============================================================================
Press any key to continue...{{ header }}
==============================================================================
  Main Menu
------------------------------------------------------------------------------
  [1] | Menu 1
  [2] | Menu 2
  [3] | Go to Include Menu
  [4] | Go to Dynamic Menu
------+-----------------------------------------------------------------------
  [0] | Quit
==============================================================================
Press menu number (0-4): {{ header }}
==============================================================================
  Main Menu > Include Menu
------------------------------------------------------------------------------
  [1] | Menu 3
------+-----------------------------------------------------------------------
  [0] | Return to Main Menu
==============================================================================
Press menu number (0-1): {{ header }}
==============================================================================
  Confirmation
------------------------------------------------------------------------------
  Would execute: Menu 3
==============================================================================
Do you really want to execute? (y/n) [n]: {{ header }}
==============================================================================
  Executing: Menu 3
------------------------------------------------------------------------------
------------------------------------------------------------------------------
Return code: 3
==============================================================================
Press any key to continue...{{ header }}
==============================================================================
  Main Menu > Include Menu
------------------------------------------------------------------------------
  [1] | Menu 3
------+-----------------------------------------------------------------------
  [0] | Return to Main Menu
==============================================================================
Press menu number (0-1): {{ header }}
==============================================================================
  Main Menu
------------------------------------------------------------------------------
  [1] | Menu 1
  [2] | Menu 2
  [3] | Go to Include Menu
  [4] | Go to Dynamic Menu
------+-----------------------------------------------------------------------
  [0] | Quit
==============================================================================
Press menu number (0-4): {{ header }}
==============================================================================
  Main Menu > Dynamic Menu
------------------------------------------------------------------------------
  [1] | Menu 4
------+-----------------------------------------------------------------------
  [0] | Return to Main Menu
==============================================================================
Press menu number (0-1): {{ header }}
==============================================================================
  Confirmation
------------------------------------------------------------------------------
  Would execute: Menu 4
==============================================================================
Do you really want to execute? (y/n) [n]: {{ header }}
==============================================================================
  Executing: Menu 4
------------------------------------------------------------------------------
------------------------------------------------------------------------------
Return code: 4
==============================================================================
Press any key to continue...{{ header }}
==============================================================================
  Main Menu > Dynamic Menu
------------------------------------------------------------------------------
  [1] | Menu 4
------+-----------------------------------------------------------------------
  [0] | Return to Main Menu
==============================================================================
Press menu number (0-1): {{ header }}
==============================================================================
  Main Menu
------------------------------------------------------------------------------
  [1] | Menu 1
  [2] | Menu 2
  [3] | Go to Include Menu
  [4] | Go to Dynamic Menu
------+-----------------------------------------------------------------------
  [0] | Quit
==============================================================================
Press menu number (0-4): {{ null }}