<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Easy Menu : The Simplest Terminal User Interface" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Easy Menu</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/mogproject/easy-menu">View on GitHub</a>

          <a href="/easy-menu/"><h1 id="project_title">Easy Menu</h1></a>
          <h2 id="project_tagline">The Simplest Terminal User Interface</h2>

          <!-- Social buttons -->
          <div id="toolbar">
            <div id="tweet_button">
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://mogproject.github.com/easy-menu" data-count="horizontal" data-text="Easy Menu @mogproject" data-lang="ja">ツイート</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
            </div>
            <div id="facebook_button">
              <div id="fb-root"></div><script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
              <div class="fb-like" data-href="http://mogproject.github.com/easy-menu" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></div>
            </div>
          </div>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/mogproject/easy-menu/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/mogproject/easy-menu/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Easy Menu maintained by <a href="https://github.com/mogproject">mogproject</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
